<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
</head>
<body>
    <h1>Edit book: {{ book.title }}</h1>
    <form method="post">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="{{ book.title }}" required><br><br>
        
        <label for="author">Author:</label>
        <select name="author" id="author" required>
            {% for author in authors %}
                <option value="{{ author.id }}" {% if author.id == book.author.id %} selected {% endif %}>{{ author.name }}</option>
            {% endfor %}
        </select><br><br>

        <button type="submit">Save Changes</button>
    </form>
</body>
</html>